.interest-container {
  margin-top: 2rem;

}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.subtitle {
  color: #555;
  margin-bottom: 2.3rem;
  font-size: 0.95rem;
}

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  gap: 1.5rem;
}

.icon-card {
  width: 70px;
  height: 100px;
  padding: 1.2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon-card:hover {
  transform: scale(0.9);
}

.icon-card.selected {
  transform: scale(1.1); 
  .icon svg{
    color: #373dc4;
    background-color: white;
  }
}

.icon{
  background: #1a1a1a;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon-label {
  font-size: 0.85rem;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1.2;
  margin-top: 0.4rem;
}


.cta {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 1.5rem;
}

.search-label {
  font-size: 1.2rem;
}

.go-btn {
  background-color: #631BE5;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 999px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.2s;
}

.go-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
